# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
# /public
/lib
**/lib

# misc
.DS_Store
.env.*
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock
*.cache
*.log
.log*
firestore-debug.log
firebase-debug.log
tsconfig.tsbuildinfo
wallaby.js